.container-textos {
    display: grid;
    position: relative;
    grid-template: 1fr / 1fr .8fr;
}
.textos-box-left {
    display: flex;
    align-items: end;
    justify-content: center;
}
.textos-box-rigth {
    display: flex;
    justify-content: center;
}


.item-flutuante {
    top: 0;
    right: 0;
    z-index: -999;
    position: absolute;
}
.item-flutuante h1 {
    top: 110px;
    right: 70px;
    color: #fff;
    font-size: 27px;
    position: absolute;
}
.item-flutuante img {
    width: 500px;
}



@media (max-width: 700px) {
    .container-textos {
        grid-template: 1fr / 1fr;
    }
}
@media (max-width: 530px) {
    .item-flutuante h1 {
        top: 70px;
        right: 35px;
        color: #fff;
        font-size: 27px;
        position: absolute;
    }
    .item-flutuante img {
    width: 350px;
}
}