.inicio-box-left {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo-left {
    display: flex;
    display: block;
    align-items: center;
    justify-content: center;
}
.logo-left img {
    width: 300px;
}

.item-oculto {
    visibility: 0;
    width: 200px;
    height: 250px;
    display: block;
}

@media (max-width: 700px) {
    .logo-left {
        display: none;
    }
    .boxLeft {
        margin-top: 5%;
        justify-content: start;
    }
    .item-oculto {
        width: 200px;
        height: 55px;
    }
}