.contentInicio {
    display: grid;
    min-height: 100vh;
    grid-template: 1fr / 65px 1fr 1fr;
}
.contentSobre {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}
.leftLimited {
    background-color: transparent;
}

@media (max-width: 700px) {
    .contentInicio {
        display: grid;
        min-height: 100vh;
        grid-template: 1fr 1fr / 1fr;
    }
    .leftLimited {
        display: none;
    }
}