.boxLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    /* background-color: rgb(209, 114, 46); */
}

.logoLeft {
    display: flex;
    display: block;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
}
.logoLeft img {
    width: 300px;
}

.itemOculto {
    visibility: 0;
    width: 200px;
    height: 250px;
    display: block;
}

@media (max-width: 700px) {
    .itemOculto, .logoLeft {
        display: none;
    }
    .boxLeft {
        margin-top: 5%;
        justify-content: start;
    }
}